{{ $curLanguageName := .Site.Language.LanguageName }}
<header>
    <div class="row center-xs">
        <div class="signatures site-title">
            <a href="/">{{ .Site.Author.name }}</a>
        </div>
    </div>
</header>
<div class="row end-xs">
    {{ range .Site.Languages -}}
        {{ if ne .LanguageName $curLanguageName }}
            <div class="lang-switch col-xs-3 col-xs-offset-9">
                <a href="/{{ .Lang }}/">{{ .LanguageName }}</a>
            </div>
        {{ end }}
    {{ end }}
</div>

<div class="row center-xs">
    <div class="col-xs-2">
        <div class="box">
            <div class="box">
                <a href="/">home</a>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            <div class="box">
                <a href="/tech/">tech</a>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            <div class="box">
                <a href="/photo/">photo/thoughts</a>
            </div>
        </div>
    </div>
</div>

<div class="header-line"></div>
